In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\isaac\Downloads\CarPrice_Assignment.csv")
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [3]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [4]:
new_df = df.drop(['car_ID','symboling','doornumber','enginelocation','stroke','compressionratio','peakrpm','citympg','highwaympg'],axis='columns')

In [5]:
new_df['CarName'] = new_df['CarName'].apply(lambda x: x.split(' ')[0])

In [6]:
new_df

,CarName,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,horsepower,price
0,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,111,13495.0
1,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,111,16500.0
2,alfa-romero,gas,std,hatchback,rwd,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,154,16500.0
3,audi,gas,std,sedan,fwd,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,102,13950.0
4,audi,gas,std,sedan,4wd,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,115,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,55.5,2952,ohc,four,141,mpfi,3.78,114,16845.0
201,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.8,55.5,3049,ohc,four,141,mpfi,3.78,160,19045.0
202,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,55.5,3012,ohcv,six,173,mpfi,3.58,134,21485.0
203,volvo,diesel,turbo,sedan,rwd,109.1,188.8,68.9,55.5,3217,ohc,six,145,idi,3.01,106,22470.0
204,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.9,55.5,3062,ohc,four,141,mpfi,3.78,114,22625.0

In [7]:
new_df['CarName'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [8]:
new_df['CarName'] = new_df['CarName'].replace({'maxda':'mazda','Nissan':'nissan','porcshce':'porsche','toyouta':'toyota','vokswagen':'volkswagen','vw':'volkswagen'})

In [9]:
new_df['CarName'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [10]:
new_df['fueltype'].unique()

array(['gas', 'diesel'], dtype=object)

In [11]:
new_df['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [12]:
new_df['carbody'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [13]:
new_df['drivewheel'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [14]:
new_df['enginetype'].unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [15]:
new_df['cylindernumber'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [16]:
new_df['fuelsystem'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [17]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CarName         205 non-null    object
 1   fueltype        205 non-null    object
 2   aspiration      205 non-null    object
 3   carbody         205 non-null    object
 4   drivewheel      205 non-null    object
 5   wheelbase       205 non-null    float64
 6   carlength       205 non-null    float64
 7   carwidth        205 non-null    float64
 8   carheight       205 non-null    float64
 9   curbweight      205 non-null    int64
 10  enginetype      205 non-null    object
 11  cylindernumber  205 non-null    object
 12  enginesize      205 non-null    int64
 13  fuelsystem      205 non-null    object
 14  boreratio       205 non-null    float64
 15  horsepower      205 non-null    int64
 16  price           205 non-null    float64
dtypes: float64(6), int64(3), object(8)
memory usage: 27.4+ KB

In [18]:
new_df.isnull().sum()

CarName           0
fueltype          0
aspiration        0
carbody           0
drivewheel        0
wheelbase         0
carlength         0
carwidth          0
carheight         0
curbweight        0
enginetype        0
cylindernumber    0
enginesize        0
fuelsystem        0
boreratio         0
horsepower        0
price             0
dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder

cols = ['CarName','fueltype','aspiration','carbody','drivewheel','enginetype','cylindernumber','fuelsystem']

for col in cols:
    le = LabelEncoder()
    new_df[col] = le.fit_transform(new_df[col])

C:\Users\isaac\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [20]:
new_df

,CarName,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,horsepower,price
0,0,1,0,0,2,88.6,168.8,64.1,48.8,2548,0,2,130,5,3.47,111,13495.0
1,0,1,0,0,2,88.6,168.8,64.1,48.8,2548,0,2,130,5,3.47,111,16500.0
2,0,1,0,2,2,94.5,171.2,65.5,52.4,2823,5,3,152,5,2.68,154,16500.0
3,1,1,0,3,1,99.8,176.6,66.2,54.3,2337,3,2,109,5,3.19,102,13950.0
4,1,1,0,3,0,99.4,176.6,66.4,54.3,2824,3,1,136,5,3.19,115,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,21,1,0,3,2,109.1,188.8,68.9,55.5,2952,3,2,141,5,3.78,114,16845.0
201,21,1,1,3,2,109.1,188.8,68.8,55.5,3049,3,2,141,5,3.78,160,19045.0
202,21,1,0,3,2,109.1,188.8,68.9,55.5,3012,5,3,173,5,3.58,134,21485.0
203,21,0,1,3,2,109.1,188.8,68.9,55.5,3217,3,3,145,3,3.01,106,22470.0
204,21,1,1,3,2,109.1,188.8,68.9,55.5,3062,3,2,141,5,3.78,114,22625.0

In [21]:
new_df.drop('CarName',axis='columns',inplace=True)

In [22]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fueltype        205 non-null    int32
 1   aspiration      205 non-null    int32
 2   carbody         205 non-null    int32
 3   drivewheel      205 non-null    int32
 4   wheelbase       205 non-null    float64
 5   carlength       205 non-null    float64
 6   carwidth        205 non-null    float64
 7   carheight       205 non-null    float64
 8   curbweight      205 non-null    int64
 9   enginetype      205 non-null    int32
 10  cylindernumber  205 non-null    int32
 11  enginesize      205 non-null    int64
 12  fuelsystem      205 non-null    int32
 13  boreratio       205 non-null    float64
 14  horsepower      205 non-null    int64
 15  price           205 non-null    float64
dtypes: float64(6), int32(7), int64(3)
memory usage: 20.1 KB

In [23]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [24]:
x=new_df.drop('price',axis='columns')
y=new_df['price']

In [25]:
x_scaler = scaler.fit_transform(x)

In [26]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x_scaler,y,test_size = 0.2,random_state= 20)

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
model = LinearRegression()

In [29]:
model.fit(x_train,y_train)

LinearRegression()

In [30]:
model.score(x_test,y_test)

0.6382202476262371

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

In [32]:
model_params = {
    'Linear' : {
        'model' : LinearRegression(),
        'params' : {}
    },
    'randomforest' : {
        'model' : RandomForestRegressor(),
        'params' : {
            'n_estimators': [10, 50, 100],
            'min_samples_split': [2, 5, 10]
        }
    },
    'Decisiontree' : {
        'model' : DecisionTreeRegressor(),
        'params' : {
            'max_depth': [None, 10, 20],
            'min_samples_split': [2, 5, 10]
        }
    }
}

In [33]:
scores = []
for model_name,mp in model_params.items():
    model = GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    model.fit(x_train,y_train)
    scores.append({
        'model' : model_name,
        'score' : model.best_score_,
        'parameters' : model.best_params_
    })

In [34]:
scores_df = pd.DataFrame(scores,columns=['model','score','parameters'])
scores_df

          model     score                                     parameters
0        Linear  0.801315                                             {}
1  randomforest  0.923777  {'min_samples_split': 2, 'n_estimators': 100}
2  Decisiontree  0.900551     {'max_depth': 20, 'min_samples_split': 10}

In [35]:
model = RandomForestRegressor(n_estimators=50,min_samples_split=5,random_state=50)

In [36]:
model.fit(x_train,y_train)

RandomForestRegressor(min_samples_split=5, n_estimators=50, random_state=50)

In [37]:
model.score(x_test,y_test)

0.8432351742197717