In [1]:
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore',category=FutureWarning)

In [3]:
df = pd.read_csv(r"C:\Users\isaac\Downloads\cinemaTicket_Ref.csv")
df.sample(10)

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,ticket_use,capacity,date,month,quarter,day
82693,1554,453,9120000,166,0,6,10.06,54939.759036,166,1650.099404,2018-07-14,7,3,14
11693,1494,516,880000,11,0,1,9.40,80000.000000,11,117.021277,2018-05-14,5,2,14
136554,1556,362,280000,4,0,4,0.63,70000.000000,4,634.920635,2018-09-24,9,3,24
127740,1493,362,3465000,58,0,4,9.09,59741.379310,58,638.063806,2018-05-30,5,2,30
23001,1511,73,9120000,76,0,3,25.85,120000.000000,76,294.003868,2018-07-20,7,3,20
63466,1553,512,840000,14,0,1,4.43,60000.000000,14,316.027088,2018-10-26,10,4,26
104028,1485,522,5040000,42,0,5,8.84,120000.000000,42,475.113122,2018-03-14,3,1,14
69783,1483,88,2500000,26,0,5,1.22,96153.846154,26,2131.147541,2018-04-08,4,2,8
90057,1554,163,144880000,1111,0,9,34.92,130405.040504,1111,3181.557847,2018-08-15,8,3,15
30995,1499,238,780000,13,0,3,1.79,60000.000000,13,726.256983,2018-07-29,7,3,29

In [4]:
df.isnull().sum()

film_code         0
cinema_code       0
total_sales       0
tickets_sold      0
tickets_out       0
show_time         0
occu_perc       125
ticket_price      0
ticket_use        0
capacity        125
date              0
month             0
quarter           0
day               0
dtype: int64

In [5]:
df['occu_perc'].unique()

array([ 4.26,  8.08, 20.  , ..., 94.49, 52.54, 53.07])

In [6]:
df['capacity'].unique()

array([610.3286385 , 519.8019802 , 160.        , ..., 797.90712884,
       150.99009901, 190.9854851 ])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142524 entries, 0 to 142523
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   film_code     142524 non-null  int64
 1   cinema_code   142524 non-null  int64
 2   total_sales   142524 non-null  int64
 3   tickets_sold  142524 non-null  int64
 4   tickets_out   142524 non-null  int64
 5   show_time     142524 non-null  int64
 6   occu_perc     142399 non-null  float64
 7   ticket_price  142524 non-null  float64
 8   ticket_use    142524 non-null  int64
 9   capacity      142399 non-null  float64
 10  date          142524 non-null  object
 11  month         142524 non-null  int64
 12  quarter       142524 non-null  int64
 13  day           142524 non-null  int64
dtypes: float64(3), int64(10), object(1)
memory usage: 15.2+ MB

In [8]:
df.dropna(inplace=True)

In [9]:
df.isnull().sum()

film_code       0
cinema_code     0
total_sales     0
tickets_sold    0
tickets_out     0
show_time       0
occu_perc       0
ticket_price    0
ticket_use      0
capacity        0
date            0
month           0
quarter         0
day             0
dtype: int64

In [10]:
new_df = df.drop(['film_code','cinema_code','date'],axis='columns')

In [11]:
x=new_df.drop('total_sales',axis='columns')
y=new_df['total_sales']

In [12]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

minmax = MinMaxScaler()
scaler = StandardScaler()
x_minmax = minmax.fit_transform(x)
x_scaler = scaler.fit_transform(x_minmax)

C:\Users\isaac\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [13]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x_scaler,y,test_size=0.2,random_state=42)

In [14]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge

In [15]:
model = LinearRegression()

In [16]:
model.fit(x_train,y_train)

LinearRegression()

In [17]:
model.score(x_test,y_test)

0.8703718926292011

In [18]:
la = Lasso(alpha=0.01)
la.fit(x_train,y_train)

Lasso(alpha=0.01)

In [19]:
la.score(x_test,y_test)

0.8703918294794379

In [20]:
ri=Ridge(alpha=0.01)
ri.fit(x_train,y_train)

Ridge(alpha=0.01)

In [21]:
ri.score(x_test,y_test)

0.8703918332808627